<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="agicap-github" value="https://nuget.pkg.github.com/AgicapTech/index.json" />
    </packageSources>
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="agicap-github">
            <package pattern="AccountsPayable.*" />
            <package pattern="Aggregator.*" />
            <package pattern="Agicap.*" />
            <package pattern="CashCollect.*" />
            <package pattern="DataIntegration.*" />
        </packageSource>
    </packageSourceMapping>
    <packageSourceCredentials>
        <agicap-github>
            <add key="Username" value="%GITHUB_PACKAGE_REGISTRY_USERNAME%" />
            <add key="ClearTextPassword" value="%GITHUB_PACKAGE_REGISTRY_PASSWORD%" />
        </agicap-github>
    </packageSourceCredentials>
</configuration>